.header {
  display: grid;
  grid-template-columns: 1fr 135px 1fr;
  padding: 92px 24px;
  font-size: 18px;
  align-items: center;
}

.menu {
  width: 100%;
}

.header__link_active,
.footer__menu-link_active, {
  text-decoration: none;
}

.header_logo {
 display: block;
 max-width: 100%;
}

.header_links-list {
  display: flex;
  justify-content: space-around;
  list-style: circle;
  padding-right: 25px;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.address {
  justify-self: center;
  padding-left: 120px;
  font-style: normal;
  line-height: 24px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 757px;
  padding: 165px 35px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  padding-right: 16px;
}

.cover__title,
.cover__description,
.bet-button,
.lots_card-list-item {
  color: white;
}

.aligned-text {
  display: block;
  font-size: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.4em;
}

.aligned-text_right {
  text-align: right;
  line-height: 1em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 1;
  top: 136px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.cover__description-text {
  word-spacing: 1rem;
  text-transform: uppercase;
  padding-left: 43px;
  font-size: 22px;
  padding-top: 10px;
  letter-spacing: 0.02em;
}

.bet-button {
  display: inline-block;
  border: 1px solid white;
  font-size: 22px;
  background-color: transparent;
  padding: 8px 32px 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.lots {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 179px;
}

.lots_heading {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 40px;
}

.lots_card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 27px;
  gap: 25px;
}

.lots_card-list li a {
  text-decoration: none;
}

.lots_card-list-item {
  display: flex;
  flex: 1 0 334px;
  min-height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 334px;
  min-height: 100%;
  padding: 28px 35px 48px 38px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  padding-top: 25px;
  text-decoration: underline;
}

.card__text {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  padding-left: 38px;
  padding-top: 5px;
  font-size: 20px;
  letter-spacing: 0.03em;
}

.about_column {
  display: grid;
  grid-template-columns: 375px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'about_logo about_title'
    '. about_text';
  align-items: center;
  margin-top: 180px;
  padding-left: 5px;
}

.about_logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  grid-area: about_logo;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  max-width: 62%;
}

.about__title {
  grid-area: about_title;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 15px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-area: about_text;
  padding-top: 10px;
  padding-right: 50px;
  font-size: 20px;
  padding-bottom: 175px;
}

.footer {
  display: flex;
  font-size: 18px;
  place-content: center start;
  padding: 0 50px 88px;
}

footer nav,
footer ul,
footer address {
  width: 33.3%;
}

footer .address {
  padding-left: 0px;
}

.footer_links-list {
  display: flex;
  list-style: none;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.footer__social-list {
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  text-align: end;
  padding-left: 45px;
}

.footer__social-icon {
  min-height: 50%;
  width: 50%;
}
